Documentation

# ISO8601 Format

Currently, the following subsets of the standard are implemented: 
- UTC DateTime
- ISO Day
- ISO Week
- ISO WeekDay
- Ordinal Date
- Calendar Month

![image](https://user-images.githubusercontent.com/11728548/104110687-0f52cc80-52a8-11eb-8888-462fc7243fbf.png)


# RFC3339 Format
Only the "string to timestamp" is implemented at the moment, as a non-strict ISO8601 validation.
Pending requests, the Timestamp to RFC3339 formatting could be added easily.

![image](https://user-images.githubusercontent.com/11728548/104110707-4e811d80-52a8-11eb-8d5c-0809daea39c0.png)

# RFC5332 Format (Internet Email Date)
This is a less used formatting as it is only used in email headers.

![image](https://user-images.githubusercontent.com/11728548/104110791-04e50280-52a9-11eb-8020-96b7e05be872.png)

# GPS and UNIX Epochs Time

Unix and GPS Time computations are performed, including support for Leap Seconds. The library accounts for divergence of UTC and TAI (International Atomic Time) over time, to properly calculate GPS time.

![image](https://user-images.githubusercontent.com/11728548/104110804-2d6cfc80-52a9-11eb-8ef9-36ea583df8c7.png)

#Epochs
A series of Epoch classes are abstracted in the palette and can be used for even more granularity or to build new methods that migrate from one epoch to another. The base Epoch class represents the local system time, unless it is overwritten. Current overrides include UTC, Unix and GPS.

GPS Epoch starts on Jan 6th, 1980
Unix Epoch starts on Jan 1st, 1970
UTC Epoch starts on Jan 1st, 1904
TAI epoch starts on Jan 1st, 1900 and is used to calculate leap second differential between GPS and UTC.
GPS is fixed to TAI, by definition, but with a 19 seconds offset.

![image](https://user-images.githubusercontent.com/11728548/104110894-14b11680-52aa-11eb-88b4-a0985f16f266.png)


# Date Formatting Classes
By default, the Epoch Time to DateString uses the ISO8601 format. But a different date formatting can be created and injected to perform a user-defined formatting of whichever epoch time selected.

Current Date Formatters include: ISO8601 and RFC5322 formats
![image](https://user-images.githubusercontent.com/11728548/104110912-5477fe00-52aa-11eb-87aa-b4da7f088901.png)


# Palette as it is installed under Addons>LabVIEW Open Source Project>EpochDate&Time

![image](https://user-images.githubusercontent.com/11728548/104111178-10d2c380-52ad-11eb-97ee-ade918c80ea0.png)


# Epoch Classes
Epoch classes can be used to have fine-grain control on the flow, but also to inject a different Date Formatting object or create a brand new Epoch.

![image](https://user-images.githubusercontent.com/11728548/104111283-36ac9800-52ae-11eb-82cb-68ee7883d228.png)


Issue was created as a way to upload screenshots for Wiki and readme documentation.